#login-bottom .bottom-item { border-right: 1px solid #292d6a;}
#notice-popover li.unread{border-left:2px solid #292d6a;padding-left:10px;padding-right:10px}
#share-link-panel .link-authenticated-op:hover{background:transparent;color:#292d6a;text-decoration:underline}
#thumbnailView .thumbnail.selected .thumbnailImage{border:2px solid #292d6a}
#upload-link-drop-zone{background:rgba(41,45,106,.1);border:2px dashed #292d6a;border-radius:4px;padding:28px 0}
#wiki-file-content .seafile-markdown-outline .outline-h2.active,#wiki-file-content .seafile-markdown-outline .outline-h3.active { color: #292d6a;}
.article .html-element.active{border:1px solid #292d6a}
.article hr.active{border-top:1px solid #292d6a}
.badge-primary{color:#fff;background-color:#292d6a}
.bg-primary{background-color:#292d6a !important}
.big-new-file-button:focus,.big-new-file-button:hover{border-color:#292d6a;color:#292d6a}
.border-primary{border-color:#292d6a !important}
.btn-active[data-active=true]#saveButton{color:#292d6a}
.btn-link{font-weight:400;color:#292d6a;text-decoration:none}
.btn-outline-primary.disabled,.btn-outline-primary:disabled{color:#292d6a;background-color:transparent}
.btn-outline-primary:focus,.btn-outline-primary.focus{box-shadow:0 0 0 2px rgba(41,45,106,0.5)}
.btn-outline-primary:hover{color:#fff;background-color:#292d6a;border-color:#292d6a}
.btn-outline-primary:not(:disabled):not(.disabled):active,.btn-outline-primary:not(:disabled):not(.disabled).active,.show>.btn-outline-primary.dropdown-toggle{color:#fff;background-color:#292d6a;border-color:#292d6a}
.btn-outline-primary:not(:disabled):not(.disabled):active:focus,.btn-outline-primary:not(:disabled):not(.disabled).active:focus,.show>.btn-outline-primary.dropdown-toggle:focus{box-shadow:0 0 0 2px rgba(41,45,106,0.5)}
.btn-outline-primary{color:#292d6a;border-color:#292d6a}
.btn-primary.disabled,.btn-primary:disabled{color:#fff;background-color:#292d6a;border-color:#292d6a}
.btn-primary:focus,.btn-primary.focus{color:#fff;background-color:#292d6a;border-color:#cc7a00;box-shadow:0 0 0 2px rgba(41,45,106,0.5)}
.btn-primary:hover{background-color: rgba(41,45,106,.75); border-color: rgba(41,45,106,.75);}
.btn-primary:not(:disabled):not(.disabled):active:focus,.btn-primary:not(:disabled):not(.disabled).active:focus,.show>.btn-primary.dropdown-toggle:focus{box-shadow:0 0 0 2px rgba(41,45,106,0.5)}
.btn-primary:not(:disabled):not(.disabled):active{background-color: rgba(41,45,106,.75); border-color: rgba(41,45,106,.75);}
.btn-primary{color:#fff;background-color:#292d6a;border-color:#292d6a}
.btn:focus,.btn.focus{outline:0;box-shadow:0 0 0 2px rgba(41,45,106,0.25)}
.chat-message:after{content:"";position:absolute;right:-5px;top:7px;border-bottom:6px solid transparent;border-left:6px solid #292d6a;border-top:6px solid transparent}
.chat-message{position:relative;display:inline-block;background-color:#292d6a;color:#fff;font-size:.875rem;padding:.375rem .5rem;border-radius:3px;white-space:normal;text-align:left;margin:0 .5rem 0 2.5rem;line-height:1.4}
.colorinput-input:focus ~ .colorinput-color{border-color:#292d6a;box-shadow:0 0 0 2px rgba(41,45,106,0.25)}
.content .dropdown .btn-outline-primary:active{background-color:#292d6a;border-color:#292d6a;color:#fff}
.content .dropdown .btn-outline-primary:hover{background-color:#292d6a;border-color:#292d6a;color:#fff}
.content .dropdown .btn-outline-primary{background-color:transparent;background-image:none;border-color:#292d6a;color:#292d6a}
.cur-view-path .sf-heading a {color: #292d6a !important;}
.cur-view-path .sf-heading a{color:#292d6a}
.cur-view-path .tab-tabs-nav .ui-state-active .a,.cur-view-path .tab-tabs-nav .a:hover { color: #292d6a; text-decoration: none; border-bottom-color: #292d6a;}
.custom-checkbox .custom-control-input:disabled:checked ~ .custom-control-label::before{background-color:rgba(41,45,106,0.5)}
.custom-checkbox .custom-control-input:disabled:indeterminate ~ .custom-control-label::before{background-color:rgba(41,45,106,0.5)}
.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::before{border-color:#292d6a;background-color:#292d6a}
.custom-control-input:checked ~ .custom-control-label::before{color:#fff;border-color:#292d6a;background-color:#292d6a}
.custom-modal .repo-list-item.active:before{background-color:#292d6a;border-radius:2px;content:"";display:block;height:24px;left:-8px;position:absolute;top:4px;width:4px;z-index:0}
.custom-radio .custom-control-input:disabled:checked ~ .custom-control-label::before{background-color:rgba(41,45,106,0.5)}
.custom-range::-moz-range-progress{height:2px;background:#292d6a;border:0;margin-top:0}
.custom-range::-moz-range-thumb{width:1rem;height:1rem;background-color:#292d6a;border:0;border-radius:1rem;transition:background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;appearance:none}
.custom-range::-ms-fill-lower{background:#292d6a;border-radius:0}
.custom-range::-ms-thumb{width:1rem;height:1rem;margin-top:0;margin-right:2px;margin-left:2px;background-color:#292d6a;border:0;border-radius:1rem;transition:background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;appearance:none}
.custom-range::-webkit-slider-runnable-track{background:#292d6a;content:'';height:2px;pointer-events:none}
.custom-range::-webkit-slider-thumb{width:1rem;height:1rem;margin-top:-.25rem;background-color:#292d6a;border:0;border-radius:1rem;transition:background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;appearance:none}
.custom-range:focus::-moz-range-thumb{border-color:#292d6a;background-color:#292d6a}
.custom-range:focus::-ms-thumb{border-color:#292d6a;background-color:#292d6a}
.custom-range:focus::-webkit-slider-thumb{border-color:#292d6a;background-color:#292d6a}
.custom-select:focus{border-color:#1991eb;outline:0;box-shadow:0 0 0 2px rgba(41,45,106,0.25)}
.custom-switch .custom-control-input:disabled:checked ~ .custom-control-label::before{background-color:rgba(41,45,106,0.5)}
.custom-switch-input:checked ~ .custom-switch-indicator{background:#292d6a}
.custom-switch-input:focus ~ .custom-switch-indicator{box-shadow:0 0 0 2px rgba(41,45,106,0.25);border-color:#292d6a}
.department-dialog-content .department-dialog-group .group-item.tr-highlight:before{background-color:#292d6a;border-radius:2px;bottom:4px;content:"";display:block;left:-8px;position:absolute;top:4px;width:4px;z-index:0}
.department-dialog-member-head .select-all{color:#292d6a;cursor:pointer;font-size:.8125rem}
.department-single-select-formatter .department-avatar-container,.selected-departments .department-avatar-container,.selected-option-show .department-avatar-container{background:#292d6a;border-radius:50%;height:18px;padding:2px 2px 3px;width:18px}
.department-single-select-formatter .department-avatar-container{background:#292d6a;border-radius:50%;height:18px;padding:2px 2px 3px;width:18px}
.departments-tree-panel .tree-node.active:before{background-color:#292d6a;border-radius:2px;bottom:2px;content:"";display:block;left:-8px;position:absolute;top:2px;width:4px;z-index:0}
.dropdown-item.active,.dropdown-item:active{color:#fff;text-decoration:none;background-color:#292d6a}
.dropdown-item:hover, .dropdown-item:focus {color: #333; background-color: rgba(41,45,106,.20);}
.file-chooser-item .item-active:before{background-color:#292d6a;border-radius:2px;content:"";display:block;height:24px;left:-8px;position:absolute;top:2px;width:4px;z-index:10}
.file-chooser-list-view-header .name{color:#292d6a}
.file-view-header .file-toolbar-btn#save-file{color:#292d6a}
.form-help:hover,.form-help[aria-describedby]{background:#292d6a;color:#fff}
.go-back:hover { color: #292d6a; text-decoration: none;}
.go-back:hover{color:#292d6a;cursor:pointer}
.history-header .title .go-back:hover{color:#292d6a;text-decoration:none}
.image-view i{animation:rotate 1.5s ease infinite;color:#292d6a;font-size:30px;height:100%;line-height:150px;text-align:center;width:100%}
.imagecheck-figure:before{content:'';position:absolute;top:.25rem;left:.25rem;display:block;width:1rem;height:1rem;pointer-events:none;user-select:none;background:#292d6a url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'><path fill='#fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/></svg>") no-repeat center center/50% 50%;color:#fff;z-index:1;border-radius:3px;opacity:0;transition:.3s opacity}
.imagecheck-input:focus ~ .imagecheck-figure{border-color:#292d6a;box-shadow:0 0 0 2px rgba(41,45,106,0.25)}
.invite-link-icon-in-popup{color:#292d6a;cursor:pointer;font-size:.875rem;font-style:normal;line-height:1;margin-left:.5rem;vertical-align:middle}
.item-content .item-name a{color:#292d6a!important}
.lds-ripple div{animation:lds-ripple 1s cubic-bezier(0,.2,.8,1) infinite;border:4px solid #292d6a;border-radius:50%;opacity:1;position:absolute}
.lib-setting-nav .nav-pills .nav-item .nav-link.active:before{background-color:#292d6a;border-radius:2px;content:"";display:block;height:24px;left:-8px;position:absolute;top:4px;width:4px;z-index:0}
.list-group-item.active{z-index:2;color:#292d6a;background-color:#fffbf5;border-color:rgba(0,40,100,0.12)}
.list-group-transparent .list-group-item.active{background:rgba(41,45,106,0.06);font-weight:600}
.list-show-more { padding: 0.25rem 0.75rem; line-height: 2rem; text-align: center; color: #292d6a; cursor: pointer;}
.list-tag-popover .tag-list-footer .item-text{color:#292d6a;cursor:pointer}
.login-panel .submit:focus { border-color: #292d6a;}
.menu-group .menu-group-item[data-active=true]{color:#292d6a}
.metadata-gallery-image-item-selected{border:2px solid #292d6a}
.nav .nav-item .nav-link.active { color: #292d6a; text-decoration: none; border-bottom-color: #292d6a; z-index: 1;}
.nav .nav-item .nav-link.active { color: #292d6a;}
.nav-pills .nav-item .nav-link.active { background-color: #292d6a; color: #fff; border: none;}
.nav-pills .nav-item .nav-link.active{background-color: #292d6a; color:#fff;}
.nav-pills .nav-item .nav-link:hover {background-color: #292d6a30;}
.nav-pills .nav-link.active,.nav-pills .show>.nav-link{color:#fff;background-color:#292d6a}
.nav-tabs .nav-submenu .nav-item.active{color:#292d6a}
.nav{flex-wrap:inherit !important;}
.new-narrow-panel .hd { color: #fff; font-size: 16px; padding: 5px 20px; background: #292d6a; border-bottom: 1px solid #d5d5d5;}
.old-history-main .commit-list .username{color:#292d6a;font-weight:700;text-decoration:none;vertical-align:middle}
.old-history-main .file-name{word-wrap:break-word;color:#292d6a}
.old-history-main .go-back:hover{color:#292d6a;text-decoration:none}
.op-icon.sf2-x,.op-icon.sf2-x:hover { color: #292d6a;}
.op-icon:focus, .op-icon:hover{color: rgba(41,45,106,.70) !important;}
.op-target { color: #292d6a; word-wrap: break-word;}
.option-editor-footer .item-text{color:#292d6a;cursor:pointer}
.order-item .order-price{color:#292d6a;font-size:26px;font-weight:500}
.outline-h2:hover{color:#292d6a}
.outline-h3:hover{color:#292d6a}
.page-item.active .page-link{z-index:3;color:#fff;background-color:#292d6a;border-color:#292d6a}
.page-link:focus{z-index:3;outline:0;box-shadow:0 0 0 2px rgba(41,45,106,0.25)}
.path-link { color: #292d6a !important; text-decoration: none;}
.path-toolbar .toolbar-item a:hover{color:#292d6a;text-decoration:none}
.plan-description-item .plan-description{color:#292d6a;font-size:20px;font-weight:500}
.plan-description-item.plan-selected{background-color:#fff5eb;border-color:#292d6a;border-width:2px}
.price-version-container-header .price-version-plan-name{border-bottom:1px solid #292d6a;font-size:1.5rem;padding:1rem 0}
.progress-bar{display:flex;flex-direction:column;justify-content:center;overflow:hidden;color:#fff;text-align:center;white-space:nowrap;background-color:#292d6a;transition:width 0.6s ease}
.review-side-panel-nav .nav-item .nav-link.active{border-color:#292d6a;color:#292d6a}
.sdoc-ai-content .sdoc-ai-search .sdoc-send-arrow{color:#292d6a;cursor:pointer;pointer-events:auto;position:absolute;right:16px}
.sdoc-editor__article .virtual-link{color:#292d6a}
.sdoc-file-history-versions .history-list-item.item-active .history-info .name{color:#292d6a}
.sdoc-file-history-versions .history-list-item.item-active .history-info .time{color:#292d6a}
.sdoc-file-link-render .sdoc-file-link-icon{color:#292d6a;padding-right:5px}
.sdoc-file-render .sdoc-file-link-icon{color:#292d6a;padding-right:5px}
.sdoc-file-render .sdoc-file-text-link.sdoc-no-file-link-icon a{color:#292d6a;font-weight:700;text-decoration:underline;text-decoration-thickness:2px}
.sdoc-file-select-dialog .highlight-bg-color{background-color:#292d6a;border-color:#292d6a}
.sdoc-operator-folder .sdoc-dropdown-menu .sdoc-dropdown-menu-item .sdoc-full-width-mode-wrapper .custom-switch .custom-switch-input:checked~.custom-switch-indicator{background:#292d6a}
.sdoc-operator-folder .sdoc-dropdown-menu .sdoc-dropdown-menu-item .sdoc-full-width-mode-wrapper .custom-switch .custom-switch-input:focus~.custom-switch-indicator{border-color:#292d6a;box-shadow:0 0 0 2px rgba(255,128,0,.25)}
.sdoc-outline-item.active{color:#292d6a}
.sdoc-tip-dialog .highlight-bg-color{background-color:#292d6a;border-color:#292d6a}
.sdoc-wiki-viewer-outline .outline-h2.active,.sdoc-wiki-viewer-outline .outline-h3.active{color:#292d6a}
.sdoc-wiki-viewer-outline .outline-h2:hover{color:#292d6a}
.sdoc-wiki-viewer-outline .outline-h3:hover{color:#292d6a}
.seafile-markdown-outline .active { color: #292d6a; border-left: 1px solid #292d6a;}
.seafile-md-viewer-outline-heading2:hover,.seafile-md-viewer-outline-heading3:hover { color: #292d6a;}
.seafile-toggle-diff .custom-switch-input:checked~.custom-switch-indicator{background-color:#292d6a}
.selectgroup-input:checked+.selectgroup-button{border-color:#292d6a;z-index:1;color:#292d6a;background:#fff5e6}
.selectgroup-input:focus+.selectgroup-button{border-color:#292d6a;z-index:2;color:#292d6a;box-shadow:0 0 0 2px rgba(41,45,106,0.25)}
.sf-editor-outline-item.active{color:#292d6a}
.sf-link { color: #292d6a !important; cursor: pointer;}
.sf-link-btn { color: #292d6a; border: none; padding: 0; background: none;}
.sf-link-btn:focus,.sf-link-btn:hover { color: #292d6a; background: none; text-decoration: underline;}
.sf-menu-group .sf-menu-group-item[data-active=true]{color:#292d6a}
.sf-metadata-auto-image-tags .auto-image-tag.selected{border-color:#292d6a}
.sf-metadata-filed-display-setting .sf-metadata-filed-display-setting-banner .show-all-button{color:#292d6a;cursor:pointer;font-size:12px}
.sf-metadata-kanban-card.selected{border-color:#292d6a}
.sf-virtual-link{color:#292d6a}
.share-dialog-side .nav-pills .nav-item .nav-link.active:before{background-color:#292d6a;border-radius:2px;bottom:4px;content:"";display:block;left:-8px;position:absolute;top:4px;width:4px;z-index:0}
.show>.btn-secondary.dropdown-toggle.dropdown-item{color: #333; background-color: rgba(41,45,106,.20);}
.side-nav-link { display: flex; margin: 24px 12px; color: #FFFFFF; border-radius: 0.25rem; background-color: #292d6a;}
.side-nav-link:hover { background-color: #292d6a; cursor: pointer;}
.side-panel .nav .nav-link.active:hover{background-color: #292d6a;}
.side-panel .nav-link.active{color:#292d6a}
.side-panel .side-nav .side-nav-con .nav-item.active::before { content: ''; position: absolute; display: block; width: 4px; height: 30px; left: -8px; top: 4px; background-color: #292d6a; border-radius: 2px; z-index: 2;}
.side-tabnav h3.hd,.side-tabnav .hd h3 { color: #292d6a;}
.side-tabnav-tabs .tab a:hover { background-color: #292d6a; text-decoration: none;}
.side-tabnav-tabs .tab a:hover {background-color: #292d6a30;text-decoration: none}
.side-tabnav-tabs .tab-cur a,.side-tabnav-tabs .tab-cur a:hover { background-color: #292d6a;}
.subscription-container .text-orange{color:#292d6a!important}
.subscription-submit{background-color:#292d6a;border-radius:5px;color:#fff;font-size:16px;height:44px;margin-bottom:10px;width:100%}
.table-calendar-link:before{content:'';width:4px;height:4px;position:absolute;left:.25rem;top:.25rem;border-radius:50px;background:#292d6a}
.table-calendar-link:hover{color:#fff;text-decoration:none;background:#292d6a;transition:.3s background}
.tabnav-tab-cur a,.tabnav-tab a:hover,.wiki-nav .cur-item .link,.wiki-nav .link:hover,#right-panel .hd .ui-state-active .a,#right-panel .hd .a:hover { color: #292d6a; text-decoration: none; border-bottom-color: #292d6a;}
.tag-primary{background-color:#292d6a;color:#fff}
.text-primary{color:#292d6a !important}
.transfer-dialog-side .nav-item .nav-link.active:before{background-color:#292d6a;border-radius:2px;content:"";display:block;height:28px;left:-4px;position:absolute;top:3px;width:3px}
.tree-node-hight-light:before{background-color:#292d6a;border-radius:2px;bottom:2px;content:"";display:block;left:-8px;position:absolute;top:2px;width:4px;z-index:0}
.tree-node-hight-light:before{background-color:#292d6a;border-radius:2px;content:"";display:block;height:24px;left:-8px;position:absolute;top:2px;width:4px;z-index:0}
.tree-node-hight-light{background-color:#292d6a!important;border-radius:4px;color:#fff}
.tree-node-inner-hover{background-color:#292d6a30;border-radius:.25rem}
.wiki-card-item .wiki-card-item-top .sf3-font-wiki.sf3-font{color:#292d6a;font-size:24px;height:24px;line-height:24px}
.wiki-nav-content a:hover,.wiki-nav-content-highlight a{color:#292d6a;text-decoration:none}
.wiki-page-container .article .ml-2:hover{color:#292d6a;text-decoration:underline}
.wiki-page-container .outline-h2.active,.wiki-page-container .outline-h3.active{color:#292d6a}
:root{--blue: #467fcf;--indigo: #6574cd;--purple: #a55eea;--pink: #f66d9b;--red: #cd201f;--orange: #fd9644;--yellow: #f1c40f;--green: #5eba00;--teal: #2bcbba;--cyan: #17a2b8;--white: #fff;--gray: #868e96;--gray-dark: #343a40;--azure: #45aaf2;--lime: #7bd235;--primary: #292d6a;--secondary: #868e96;--success: #5eba00;--info: #45aaf2;--warning: #f1c40f;--danger: #cd201f;--light: #f8f9fa;--dark: #343a40;--breakpoint-xs: 0;--breakpoint-sm: 576px;--breakpoint-md: 768px;--breakpoint-lg: 992px;--breakpoint-xl: 1280px;--font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";--font-family-monospace: Monaco, Consolas, "Liberation Mono", "Courier New", monospace}
a { color: #292d6a; text-decoration: none; font-weight: bold;}
a, a:hover { color: #292d6a; }
a,a:hover{color:#292d6a}
a.badge-primary:focus,a.badge-primary.focus{outline:0;box-shadow:0 0 0 2px rgba(41,45,106,0.5)}
a:focus,a:hover { color: #292d6a;}
a:hover{color:#292d6a}
a{color:#292d6a;text-decoration:none;background-color:transparent}
a{text-decoration-skip:ink;color:#292d6a}
button {word-break: normal;}
